@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 10, 31, 68; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 10, 31, 68;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, #0A1F44, #1E2A3A); 
}


.glow {
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.7); 
  transition: box-shadow 0.3s ease;
}

.glow:hover {
  box-shadow: 0 0 25px rgba(0, 255, 255, 1);
}